/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* VARIABLES */
    :root {
        --font01: 'Inter', sans-serif;
        --font02: 'Ubuntu Mono', monospace;
        --font03: 'DM Mono', monospace;
    }
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--font03);
}
/* MENU */
nav ul,
nav ul li {
    list-style: none;
}
menu {
    background-color: #0a0a0a;
    height: 55px; 
    font-family: var(--font03);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}
nav {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
menu li {
    display: inline-block;
    height: 55px;
    line-height: 55px;
}
menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 30px;
}
menu li a:hover{
    background-color: #1a242f;
    border-radius: 5px;
}

#burguer {
    color: var(--color06);
    display: block;
    text-align: center;
    padding: 25px;
    cursor: pointer;
}

#burguer:hover {
    background-color: #0000001e;
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablets */

    /* HEADER */

    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    /* CONTACT */

    .ctt > a {
        padding-left: 14px;
        padding-right: 14px;
        display: inline-block;
    }

}

@media screen and (min-width: 992px) {

    /* HEADER */

    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
        margin: 0px 10px 0px 10px;
    }

    /* CONTACT */

    .ctt > a {
        padding-left: 14px;
        padding-right: 14px;
        display: inline-block;
    }

    /* ul {
        columns: 2;
    } */

}

/* SIDEBAR */
.sidebar {
    position: sticky;
    height: calc(100vh - 55px);
    width: 55px;
    font-family: var(--font03);

    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sidebar::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 55px;
    background-color: #0a0a0a;
    z-index: -1;
}
.sidebar:not(:hover)::before {
    display: none; /* oculta a sobreposição quando a barra lateral não está em foco (hover) */
}
.op {
    max-height: 50vh;
    margin: auto;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 18px;
    text-align: center;
}
.sidebar a:hover {
    background-color: #1a242f;
    border-radius: 5px;
}
/* first page */
.home {
    background-color: #0a0a0a;
    background: linear-gradient( #0a0a0a 65%, #121212 );
    display: flex;
    /* margin-top: 55px; */
    height: 125vh;
    width: 100%;
    flex-direction: row;
    color: white;
}

.d1, .d2 {
    width: 40%;
    max-width: 50%;
    height: 30%;
    margin: 15% 30px; /* top, right, bottom, left */
    align-content: center;
}

.d1 {
    border-right: 1px dashed darkcyan;
}

.d1 > p {
    margin-left: 30px;
}

/* BODY */
main {
    max-width: 1000px;
    margin: 0 auto 0;
    overflow-y: auto;
    color: white;
}


/* FOOTER */
footer {
    margin-top: 2%;
    height: 60px;
    color: white;
    text-align: center;
}
footer hr {
    margin: auto;
    border-top: 1px solid #1ca292;
    border-bottom: 0;
    max-width: 1200px;
}